/* Start Padding */
.pd-30 {
  padding: 30px;
}
.pd-60 {
  padding: 30px;
}
/* End Padding */

/* Start Flex */
.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* End Flex */

/* Start Cursor */
.c-pointer {
  cursor: pointer;
}
/* End Cursor */

/* Start position centering */
.v-p-center,
.h-p-center {
  position: absolute;
}
.v-p-center {
  top: 50%;
  transform: translateY(-50%);
}
.h-p-center {
  left: 50%;
  transform: translateX(-50%);
}
/* End position centering */

